<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Jonathan Peacock heads up JPTXMedia which was started in 2015. It's a UK reseller of FAB Subtitling. We've delivered both software and hardware / software combinations.  Our VAT registration is GB 251 9075 06.</p>
      </div>
      <div class="col-lg-4">
        <p>Jonathan's experience spans the BBC, Sony Broadcast, Snell & Wilcox and Ateme as well as Southampton Solent University and University of the West of England. Please contact us if you'd like to discuss a project. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
